.mixin.out/
crash-reports/
defaultconfigs/
disabledmods/
logs/
saves/
schematics/
screenshots/

downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
jarmods/

command_history.txt
usercache.json
usernamecache.json
*.dat_old

# Mod caches
Distant_Horizons_server_data/
xaero/
XaeroWaypoints*/
config/jei/world/

# Source
node_modules/
releases/
