*
!.gitignore

!config
!config/**
!mods
!mods/**
!resourcepacks
!resourcepacks/**
!shaderpacks
!shaderpacks/**

!instance.json
!options.txt
!servers.dat

# Modpack config and generation
!package.json
!pnpm-lock.yaml
!tsconfig.json
!src
!src/**